In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('small/movies.csv')
people = pd.read_csv('small/people.csv')
stars = pd.read_csv('small/stars.csv')

In [3]:
movies.head()

       id               title  year
0  112384           Apollo 13  1995
1  104257      A Few Good Men  1992
2  109830        Forrest Gump  1994
3   93779  The Princess Bride  1987
4   95953            Rain Man  1988

In [4]:
people.head()

     id            name  birth
0   102     Kevin Bacon   1958
1   129      Tom Cruise   1962
2   144      Cary Elwes   1962
3   158       Tom Hanks   1956
4  1597  Mandy Patinkin   1952

In [5]:
stars.head()

   person_id  movie_id
0        102    104257
1        102    112384
2        129    104257
3        129     95953
4        144     93779

In [8]:
import csv
import sys

from util import Node, StackFrontier, QueueFrontier
# Maps names to a set of corresponding person_ids
names = {}

# Maps person_ids to a dictionary of: name, birth, movies (a set of movie_ids)
people = {}

# Maps movie_ids to a dictionary of: title, year, stars (a set of person_ids)
movies = {}


def load_data(directory):
    """
    Load data from CSV files into memory.
    """
    # Load people
    with open(f"{directory}/people.csv", encoding="utf-8") as f:
        reader = csv.DictReader(f)
        for row in reader:
            people[row["id"]] = {
                "name": row["name"],
                "birth": row["birth"],
                "movies": set()
            }
            if row["name"].lower() not in names:
                names[row["name"].lower()] = {row["id"]}
            else:
                names[row["name"].lower()].add(row["id"])

    # Load movies
    with open(f"{directory}/movies.csv", encoding="utf-8") as f:
        reader = csv.DictReader(f)
        for row in reader:
            movies[row["id"]] = {
                "title": row["title"],
                "year": row["year"],
                "stars": set()
            }

    # Load stars
    with open(f"{directory}/stars.csv", encoding="utf-8") as f:
        reader = csv.DictReader(f)
        for row in reader:
            try:
                people[row["person_id"]]["movies"].add(row["movie_id"])
                movies[row["movie_id"]]["stars"].add(row["person_id"])
            except KeyError:
                pass

In [9]:
load_data('small')

In [10]:
names

{'kevin bacon': {'102'},
 'tom cruise': {'129'},
 'cary elwes': {'144'},
 'tom hanks': {'158'},
 'mandy patinkin': {'1597'},
 'dustin hoffman': {'163'},
 'chris sarandon': {'1697'},
 'demi moore': {'193'},
 'jack nicholson': {'197'},
 'bill paxton': {'200'},
 'sally field': {'398'},
 'valeria golino': {'420'},
 'gerald r. molen': {'596520'},
 'gary sinise': {'641'},
 'robin wright': {'705'},
 'emma watson': {'914612'}}

: